body {
    /* 设置背景图片 */
    background-image: url('./assets/img/slider/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px; /* 设置统一的字体大小 */
}

.login-container {
    background-color: rgba(0, 0, 0, 0.8); /* 半透明背景 */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 320px;
    text-align: center; /* 居中对齐文本 */
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: normal;
}

.form-group {
    margin-bottom: 20px;
    text-align: left; /* 左对齐标签和输入框 */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: white;
}

.button {
    display: inline-block;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer; /* 光标悬停时显示手型 */
    border: none; /* 移除默认按钮边框 */
    width: 100%; /* 按钮宽度设置为100% */
    text-align: center; /* 文字居中 */
    box-sizing: border-box; /* 包含内边距和边框 */
    margin-top: 10px; /* 添加一些顶部间距 */
}

.button:hover {
    background-color: #45a049;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; /* 添加一些顶部间距 */
    box-sizing: border-box; /* 包含内边距和边框 */
}

button:hover {
    background-color: #0056b3;
}

.return-button {
    background-color: #ff5722; /* 返回按钮的颜色 */
}

.return-button:hover {
    background-color: #e64a19; /* 返回按钮悬停时的颜色 */
}
