<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模型界面</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>模型界面</h1>
        <div class="section">
            <h2>修改模型</h2>
        <form method="get" action='/get_config'>
            <div class="form-group">
                <label>选择模型：<input type="text" name="config" value=""></label><br>
            </div>
            <a><input type="submit" class="button" value="确定"></a>

        </form>
        </div>
    </div>


</body>
</html>
